body{
    text-align: center;
    background-color: rgba(23, 108, 177, 0.218);
    font-family: cursive;
    color: rgb(24, 75, 75);
}
img{
    border-radius: 100%;
    position: absolute;
    left: 10px;
}
h1{
  font-size: 6rem;
  margin-top: 0;
}
h1:after{
    content: "";
    display: block;
    background: #000000;
    position: absolute;
  
    right: 0;
}
.quote{
    width: 600px;
    height: 300px;
    border: 5px solid red;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 40px;
    box-shadow: 5px 7px 20px rgb(26, 161, 75);
    word-wrap: break-word;
    
}
#sources{
    color: black;
}
a{
    text-decoration: none;
    font-size: 3rem;
    background-color: rgba(212, 236, 29, 0.922);
    color: rgb(56, 34, 34);
    font-family: cursive;
    border-radius: 20px;
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
}
a:hover {
    color: #1c8564;
    background-color: rgb(45, 59, 24);
}